<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>railwayCrossing Status</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomePageServlet</display-name>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <servlet-class>AdminHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <url-pattern>/AdminHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCrossingServlet</display-name>
    <servlet-name>AddCrossingServlet</servlet-name>
    <servlet-class>AddCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCrossingServlet</servlet-name>
    <url-pattern>/AddCrossingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCrossingServlet</display-name>
    <servlet-name>SearchCrossingServlet</servlet-name>
    <servlet-class>SearchCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCrossingServlet</servlet-name>
    <url-pattern>/SearchCrossingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCrossingServlet</display-name>
    <servlet-name>UpdateCrossingServlet</servlet-name>
    <servlet-class>UpdateCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCrossingServlet</servlet-name>
    <url-pattern>/UpdateCrossingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCrossingServlet</display-name>
    <servlet-name>DeleteCrossingServlet</servlet-name>
    <servlet-class>DeleteCrossingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCrossingServlet</servlet-name>
    <url-pattern>/DeleteCrossingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToFavoriteServlet</display-name>
    <servlet-name>AddToFavoriteServlet</servlet-name>
    <servlet-class>AddToFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavoriteServlet</servlet-name>
    <url-pattern>/AddToFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromFavoritesServlet</display-name>
    <servlet-name>RemoveFromFavoritesServlet</servlet-name>
    <servlet-class>RemoveFromFavoritesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromFavoritesServlet</servlet-name>
    <url-pattern>/RemoveFromFavoritesServlet</url-pattern>
  </servlet-mapping>
</web-app>